.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.56);
  shape-rendering: crispEdges;
  vector-effect: none;
}

.bridge line {
  fill: none;
  stroke: rgb(1, 0, 255);
  shape-rendering: crispEdges;
  vector-effect: none;
  stroke-width: 12px;
}
.bridge circle {
  fill: #000057;
  stroke: #000057;
}

/*.majorAxis line {*/
/*  fill: none;*/
/*  stroke: rgba(110, 3, 7, 0.88);*/
/*  shape-rendering: crispEdges;*/
/*  vector-effect: none;*/
/*  stroke-width: 2px;*/
/*}*/
circle {
  fill: rgb(255, 152, 0);
  stroke: none;
}
.scaled circle {
  fill: #5e4123;
  stroke: #5b4600;
  stroke-width: 1px;
}

.pointer circle {
  fill: rgba(255, 0, 247, 0.2);
  stroke: #010033;
  stroke-width: 4px;
}
.viewing-rect {
  fill: rgba(0, 0, 0, 0.66);
  stroke: rgb(14, 35, 10);
  stroke-width: 5px;
}
.map-color {
  fill: rgba(161, 170, 234, 0.89);
  stroke: none;
}
